<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chess</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>


<link rel="stylesheet" type="text/css" href="./css/index.css">
    <link
    rel="stylesheet"
    href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
    integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
    crossorigin="anonymous"
  />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
        crossorigin="anonymous"></script>
        <script src="./js/chessmin.js"></script>  
        <script src="./js/jquery-3.7.0.min.js"></script>
    </head>
    <body>
      <div id="board-container">
        <h1 class="font-effect-shadow-multiple" >CHESSS</h1>
        <div id="myBoard" style="width: 400px"></div>
        <label id="h3">Status:   
        </label>
          <div id="status" class="ww"></div>   
     
      </div>
      <div id="message-box-container">

        <h1 class="font-effect-shadow-multiple" >chat-box</h1>
        <div id="message-container">
          <!-- Messages will be displayed here -->
        </div>
        <form id="message-form">
          <input type="text" id="message-input" placeholder="Enter your message" required>
          <button type="submit">Send</button>
        </form>
        <ul id="messages-list"></ul>  
      </div>
        
       
        <script>


  
            let playerColor = '<%= color %>';
    console.log('Playing as ' + playerColor);
        </script>
        <script src="./js/chess.js"></script>

</body>
</html> 