/* styles.css */
body {
    font-family: 'Rancho', serif;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {

    color: #000000;
     /* Add space between heading and container */
}

.container {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #000;
}

.input-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#codeInput {
    width: auto;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-family: 'Rancho', serif;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000;
}

#errorMessage {
    color: red;
}
